.code-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

.code-container p{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: 'Courier New', monospace;
    font-size: 2rem;
}

.code-container h2{
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
}

.startBtn {
    margin: 0;
    padding: 15px 25px;
    background-color: #6366f1;
    color: white;
    font-weight: 600;;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border-radius: 15px;
}

.startBtn:hover {
    background-color: #4f46e5;
}

.header-info {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

ul {
    list-style: none;
    padding: 0;
}