.input-container {
    display: flex;
    border: 1px solid black;
    width: fit-content;
    border-radius: 15px;
    background-color: rgb(226, 75, 75);
    color: black;
    font-weight: 500;
    cursor: pointer;
}

.input-container p {
    padding-left: 10px;
    padding-right: 10px;
}

.input-container input {
    border-radius: 15px;
    font-size: 2rem;
    max-width: 100px;
    background-color: white;
    color: black;
    font-weight: 700;
}